.nav {
  grid-area: n;
  background-color: rgb(207, 205, 205);
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:focus {
  color: rgb(46, 46, 46);
}

a {
  color: none;
}
